{% extends "AppLouvreBundle::layout.html.twig" %}

{% block content %}

<div class="view">
			<!--Intro content-->
			<div class="jumbotron">
				<div class="container text-center">
					<h1>Espace Billetterie</h1>
					<p>Commandez vos billets en 4 étapes</p>
					<p>
						 <a href="{{ path('app_louvre_order') }}" class="btn btn-primary">Commander</a>
					</p>
				</div>
			</div>
		</div>

{% endblock %}
