.lab + div{
	display: none;
}
.valid{
	
}
.emailAndValid{
	width: 0px;
      padding: 0px;
      margin: 0px;
      display:inline;
}

body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.view {
    /* The image used */
    background-image: url("../images/mdl_cover.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
   
    background-size: cover;
      z-index: 1;
	padding-top: 15%;

}
.jumbotron {
    color: #fff;
    background-color: rgba(0, 0, 255, 0);
    
    
    /* tiré de la moitié de sa propre hauteur */
}

h1, .well,.row,.form-group, h3{
	text-align: center;
}
ul{
	list-style:none;
}

.orderForm{
	padding-left: 10%;
}
#orderForm{
	margin-left: 10%;
	
}
#stp1bouton{
	float: left;
	
}
#infosHoraires{
	padding-left: 5%;
	
}
#infosTarifs{
	padding-left: 5%;
	
}
#ticketsForm{
	margin-left: 5%;
	
}
select{
	width: 33%;
	height: auto;
}
.checkbox{
	width: 10%;
	height: auto;
}
#resume, #blockResume{
	margin-left: 17%;
	
}
#total1{
	margin-left: 25%;
}
#ticketsResume{
	text-align: left;
}